/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smootthing: antialiased;
}


/* common style */
body{
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;  
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}

.grid{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 30px
}
.container{
    width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
    
}


/* header style strat */

.Top-banner{
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
    margin-bottom: 30px;
}

.banner .banner-Left h1{
    margin-right: 102px;
    width: 485px;
    height: 230px;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF
}
.banner-button button{
    width: 168px;
    height: 44px; 
    margin-top: 27px; 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    background-color: #E02C6D;
}

   
.banner-thiemlain img{
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
}
.banner-button button:hover{
    background-color: cornsilk;
}



/* section-01 Top-player strat */

.players{
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
    height: 474px;
    padding-left: 15px;
    padding-top: 15px;
}
.top-1,.top-2,.top-3,.top-4{
    margin-bottom: 30px;
}
.player img{
    width: 300px;
    height: 256px;
    width: 300px;
    
}
.player-name{
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    padding-top: 16px;
    
}
.player-detials{
    font-size: 16px;
    font-weight: 400px;
    text-align: left;
    width: 300px;
    padding-top: 10px;
}
