/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* common style */
body{
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;  
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}

.grid{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 30px
}
.container{
    width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
    
}
/* media queary */
/* mbile device */
@media only screen and (max-width:480px) {
    
    .container{
        width: 100%;
    }
    
    .headers, .top-1, .top-2, .top-3 , .top-4 , .fields{
        
        grid-template-columns: repeat(1,1fr);
    }
    .headar, .top-1,.top-2, .top-3, .top-4 , .box{
        flex-direction: column;
    }

}
    

/* header style strat */

.header-color{
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
    margin-bottom: 21px;
}
.header h1{
width: 485px;
height: 230px;
font-weight: bold;
font-size: 64px;
line-height: 80px;
color: #FFFFFF;
margin-right: 102px;
margin-top: 207px;

}

.header-button button{
   background-color: #E02C6D;
   width: 168px;
   height: 44px;
   color: white;
   padding: 10px;
   text-align: center;
   margin-top: 27px;
   font-size: 16px;
   font-weight: 400;
}

.header-button button:hover{
    background-color: whitesmoke;
    color:black;
}


.headers-image img{
    width:  556.01px;
    height: 438px;
    margin-top: 153px;
    
}



.headers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* section-01 Top-player strat */

.players{
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
    height: 474px;
    padding-left: 15px;
    padding-top: 15px;
}
.top-1,.top-2,.top-3,.top-4{
    margin-bottom: 30px;
}
.player img{
    width: 300px;
    height: 256px;
    width: 300px;
    
}
.player-name{
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    padding-top: 16px;
    
}
.player-detials{
    font-size: 16px;
    font-weight: 400px;
    text-align: left;
    width: 300px;
    padding-top: 10px;
}


/* section-02 start */
.fields{
    display: grid;
    grid-template-columns: repeat(2,1fr)
    
}
.imgbox img{
    width: 505px;
    height: 450px;
    object-fit: cover;
    margin-right: 37px;
}

/* footer part start */
.footer-top{
    padding-bottom: 63px;
}
.footer-socal-madiea ul{
    margin-top: 20px;
    
}
   
.footer-socal-madiea ul li{
    list-style: none;
    padding-left: 14px;
}
.footer-box{
    width: 483.87px;
    height: 213px;
    margin-top: 158px;
}
p{
    font-weight: 400;
font-size: 18px;
line-height: 24px;
margin-top: 20px;
text-align: center;
}
.footer-hesd{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.footer-hesd{
    margin-top: 30px;
}


